/* footer */
.watermark {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-weight: 350;
    font-size: 0.65rem;
    color: #ffffff98;
    display: flex;
    align-items: center;
    z-index: 1000;
}
.watermark img {
    width: 60px;
    height: auto;
    vertical-align: middle;
    opacity: 0.6;
}
#home, #about, #project, #services, #contact {
    background-color: #000000;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    min-height: 100vh;
    padding: 50px;
    box-sizing: border-box;
}
